

.who_is_lions {
 margin: 2% 10%;
}

.button-info-up {
    
    height: 25px;
    background: radial-gradient(ellipse at center, rgba(255,194,15,1) 0%,rgba(255,194,15,1) 10%,rgba(233,147,1,1) 100%);
    width: 10%;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3%;
}

.who-is-lions-info {
    border: 1px solid #f4f4f4;
    box-shadow:0 0 5px 5px #888888;
    background: radial-gradient(ellipse at center, rgb(235, 235, 234) 0%,rgb(235, 235, 235) 10%,rgb(236, 236, 236) 100%);
    background-color: #dad5d5;
    margin-bottom: 15px;
    font-family: 'Open Sans', serif;

}

.who-is-lions-info p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
}

.who-is-lions-btn {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.who-is-lions-btn .button {
  border-radius: 5px;
  background-color: rgb(7, 19, 245);
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
